* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
  color: #2e2f42;
  line-height: 1.5;
}

ul,
ol,
li {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

input {
  font-family: inherit;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

p {
  font-weight: 600;
  margin-bottom: 16px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  margin-bottom:  16px;
}

#categories {
  border-radius: 8px;
  padding: 24px;
  width: 440px;
  height: 888px;
  background: #fff;
}

.item {
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  background: #f6f6fe;
}

.item:not(:last-child) {
  margin-bottom: 24px;
}

li.item ul li {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  padding: 8px 16px 8px 16px;
}

li.item ul li:not(:last-child) {
  margin-bottom: 8px;
}

.gallery {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
}

ul.gallery li img {
  object-fit: cover;
}

#name-input,
.login-form label input
{
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  padding: 8px 16px 8px 16px;
  margin-bottom: 16px;
}

input#name-input h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
}

.login-form {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 256px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form label input {
  margin-bottom: 8px;
  margin-top: 8px;
}

.login-form button {
  margin-top: 8px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}